@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .press-button:hover {
    transition: 0.2s;
  }

  .press-button:active {
    transition: transform 0.2s;
    transform: scale(0.9);
    box-shadow: none;
  }

  @keyframes rotateToLeft180 {
    from {
      transform: rotate(-180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes rotateToRight180 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes slideInDown {
    from {
      transform: translateY(-20%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOutUp {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-20%);
      opacity: 1;
    }
  }
  @keyframes slideLeftNavbar {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
